<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistance"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/peristance http://java.sun.com/xml/ns/persistance/peristance_1_0.xsd"
	version="1.0">
	<!-- transaction-type="RESOURCE_LOCAL" -->
	<persistence-unit name="jpaUnit">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<properties>
			<property name="hibernate.dialect" value="org.hibernate.dialect.DerbyDialect" />
			<property name="hibernate.hbm2ddl.auto" value="validate" />
			<property name="hibernate.show_sql" value="false" />
			<property name="hibernate.connection.charSet" value="UTF-8" />
		</properties>
	</persistence-unit>
</persistence>