<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Lista tematów</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<div class="row" th:include="template/header :: main">
			<div class="navbar" th:remove="all">
				<div class="navbar-inner">
					<a class="brand" href="#">SpamFest</a>
				</div>
			</div>
		</div>

		<div class="row">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Description</th>
						<th style="width: 90px;"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cat : ${categoryList}"
						th:class="${!cat.active}? 'error'">
						<td th:text="${cat.title}">Title</td>
						<td th:text="${cat.author}">Author</td>
						<td th:text="${cat.description}">Lorem ipsum dolor sit amet,
							consectetur adipiscing elit. Fusce vel lorem vestibulum magna
							sodales faucibus. Nullam facilisis egestas feugiat. Nam sed.</td>
						<td>
							<button class="btn btn-danger" type="button">
								<i class="icon-remove icon-white"></i>
							</button>
							<button class="btn btn-warning" type="button"
								th:class="'btn ' + (${cat.active}? 'btn-warning' :  'btn-success')">
								<i class="icon-refresh icon-white"></i>
							</button>
						</td>
					</tr>
					<tr class="error" th:remove="all">
						<td>Lorem ipsum dolor sit posuere.</td>
						<td>Lorem ipsum dolor sit amet.</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Fusce vel lorem vestibulum magna sodales faucibus. Nullam
							facilisis egestas feugiat. Nam sed.</td>
						<td>
							<button class="btn btn-danger" type="button">
								<i class="icon-remove icon-white"></i>
							</button>
							<button class="btn btn-success" type="button">
								<i class="icon-refresh icon-white"></i>
							</button>
						</td>
					</tr>
					<tr th:remove="all">
						<td>Lorem ipsum dolor sit posuere.</td>
						<td>Lorem ipsum dolor sit amet.</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Fusce vel lorem vestibulum magna sodales faucibus. Nullam
							facilisis egestas feugiat. Nam sed.</td>
						<td>
							<button class="btn btn-danger" type="button">
								<i class="icon-remove icon-white"></i>
							</button>
							<button class="btn btn-warning" type="button">
								<i class="icon-refresh icon-white"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<form action="#" method="POST" th:action="@{/category}"
			th:object="${categoryForm}">
			<div class="row well well-small">
				<div class="span12">
					<div class="row">
						<div class="span5">
							<!-- Warning/Error - obsluga validacji -->
							<div class="row control-group controls"
								th:classappend="${#fields.hasErrors('author')}? 'error'">
								<div class="span3">
									<input type="text" id="inputWarning" placeholder="Author"
										th:field="*{author}" />
								</div>
								<div class="span2" th:if="${#fields.hasErrors('author')}">
									<span class="help-inline" th:errors="*{author}">Something
										may have gone wrong</span>
								</div>
							</div>
						</div>
						<div class="span6">
							<!-- Warning/Error - obsluga validacji -->
							<div class="row control-group controls"
								th:classappend="${#fields.hasErrors('title')}? 'error'">
								<div class="span4">
									<input class="input-xlarge" type="text" id="inputWarning"
										placeholder="Title" th:field="*{title}" />
								</div>
								<div class="span2" th:if="${#fields.hasErrors('title')}">
									<span class="help-inline" th:errors="*{title}">Something
										may have gone wrong</span>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group controls"
						th:classappend="${#fields.hasErrors('description')}? 'error'">
						<div class="row" th:if="${#fields.hasErrors('description')}">
							<span class="help-inline" th:errors="*{description}">Something
								may have gone wrong</span>
						</div>
						<div class="row">
							<textarea id="textarea" rows="3" class="span12"
								placeholder="Description" th:field="*{description}"></textarea>
						</div>
					</div>
					<div class="row span11">
						<input class="btn btn-large btn-block btn-primary" type="submit"
							value="Create" />
					</div>
				</div>
			</div>
		</form>
	</div>

</body>
</html>