<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Lista kategorii</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Bootstrap -->
<link href="../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">SpamFest</a>
			<ul class="nav">
				<li class="active"><a href="categoryList.html"
					th:href="@{/category}">Tematy</a></li>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="row show-grid">
			<div class="offset4 show-grid">TEST</div>
		</div>
	</div>

</body>
</html>